* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #F4F4F4;
}

//
//a {
//  text-decoration: none;
//  color: inherit;
//  outline: none;
//}
//
//ul, ol {
//  list-style: none;
//}
//
//button, input {
//  font: inherit;
//}
//
//button {
//  cursor: pointer;
//}
//
//:focus {
//  outline: none;
//}
