* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #F8F8F8;
}


a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul, ol {
  list-style: none;
}

button, input {
  font: inherit;
}

button {
  cursor: pointer;
}

:focus {
  outline: none;
}
