<template>
  <Button>默认 button</Button>
  <Button theme = "link">默认 link</Button>
  <Button theme = "text">默认 text</Button>
</template>

<script lang = "ts" setup>
  import { Button } from 'desn-ui';
</script>
